<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ firmid }} - Firm Data</title>
  <link href="/libs/bootstrap-2.3.2/css/bootstrap.css" rel="stylesheet" media="screen" />
</head>


<body>
    <div class="container">
      <h1>Firm Data:</h1>
      <form class="form" action="firm_set" method="post">
        <div class="row">
          <div class="span5">
            <fieldset>
              <legend>English:</legend>
              <label for="firmid">Key Name</label>
              <input id="firmid" type="text" name="firmid" value="{{ firmid }}">
              <label for="name_e">English Name</label>
    	      <input id="name_e" type="text" name="name_e" value="{{ firm.name_e }}">
              <label for="about_e">About</label>
              <textarea id="about_e" name="about_e" rows="5">{{ firm.about_e }}</textarea>
    	    </fieldset>
    	  </div>
    	  <div class="span2"></div>
    	  <div class="span5">
    	    <fieldset dir="rtl">
    	      <legend>עברית:</legend>
              <label for="name_h">שם המשרד:</label>
              <input id="name_h" type="text" name="name_h" dir="rtl" value="{{ firm.name_h }}">
              <label for="about_h">אודות:</label>
              <textarea id="about_h" name="about_h" rows="5">{{ firm.about_h }}</textarea>
    	    </fieldset>
    	  </div>
        </div>
        <div class="row">
          <input type="submit" value="Submit Firm">
        </div>
      </form>
      
      <hr>
      
      <h2>Projects:</h2>
      <div class="row">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Proj ID</th>
              <th>title</th>
              <th>year</th>
            </tr>
          </thead>
          <tbody>
            {% for p in projects %}
              <tr>
                <td><a href="project/{{ firmid }}/{{ p.key.id() }}">{{ p.key.id() }}</a></td>
                <td>{{ p.title_e }}</td>
                <td>{{ p.year }}</td>
              </tr>
            {% endfor %}        
          </tbody>    
      </table>
  
      <a href="project/{{ firmid }}/">add</a>
  </div>
</body>
</html>
