{% extends 'admin/admin_base.html' %}

{%block title%}Upload a new Image for {{ firmid }}/{{ projid }}{%endblock%}

{%block style%}
  <style type="text/css">
    #name, #file {
        width: 100%;
    }
    
    .ok {
        margin-top: 20px;
    }
  </style>
{%endblock%}

{%block content%}
    <div class="row">
      <div class="span6">
        <form class="form" action='{{ upload_url }}' method='post' enctype="multipart/form-data">
          <input type="hidden" name="firmid" value="{{ firmid }}">
          <input type="hidden" name="projid" value="{{ projid }}">
          <label for="name">Name:</label>
          <input id="name" name="name" type="text">
          <label for="file">Data File:</label>
          <input id="file" name="file" type="file">
          <input class="ok" type="submit" value="OK">
        </form>
      </div>
    </div>
{%endblock%}

{%block script%}
<script type="text/javascript">
    $('#file').on('change', function () {
    	var v = $(this).val();
    	name = v.split(/\\|\//).pop().split('.')[0];
    	$('#name').val(name);    	
    });
</script>
{%endblock%}