<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Upload new image</title>
  <link href="/libs/bootstrap-2.3.2/css/bootstrap.css" rel="stylesheet" media="screen" />
</head>

<body>

  <div class="container">
    <h1>Upload a new Image for {{ firmid }}/{{ projid }}</h1>

    <div class="row">
      <div class="space2 span10">
        <form class="form" action='../../../image_form' method='post' enctype="multipart/form-data">
          <input type="hidden" name="firmid" value="{{ firmid }}">
          <input type="hidden" name="projid" value="{{ projid }}">
          <label for="name">Name:</label>
          <input id="name" name="name" type="text">
          <label for="file">Data File:</label>
          <input id="file" name="file" type="file">
          <input type="submit" value="OK">
        </form>
      </div>
    </div>
  </div>

</body>
</html>