@CHARSET "ISO-8859-1";

/* ---------------------------------------- General Layout ---------------------------------------- */
body {
    font-family: Arial;
    font-size: 13px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.container {
    width: 958px;
    margin-right: auto;
    margin-left: auto;
}

.row {
}

.row > div {
    display: inline-block;
    vertical-align: top;
}

/* ---------------------------------------- A Side ---------------------------------------- */
.aside {
    position: relative;
    width: 158px;
    height: 473px;
    margin-left: 16px;
    padding-top: 77px;
}

.nav {
    list-style-type: none;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-hdr-img {
    height: 13px;
    padding-right: 5px;
}

.nav-hdr {
    background-color: #58585a;
    color: white;
    font-weight: bold;
    padding-right: 10px;
}

.sub-nav {
    margin-bottom: 12px;
}

.sub-nav li {
    color: #58585a;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-right: 10px;
}


.sub-nav li.active {
    background-color: #e2e2e2;
    font-weight: bold;
}

.main-menu-well {
    position: absolute;
    bottom: 20px;
    font-weight: bold;
}

.main-menu-item {
    margin-top: 4px;
    padding-right: 10px;
}

.lang-link {
    color: #e7ad00;
}


/* ---------------------------------------- B Side ---------------------------------------- */
.bside {
    width: 780px;
    position: relative;
}

.logo-well {
    position: relative;
    height: 83px;
    padding-top: 7px;
    z-index: 5;
    padding-right: 5px;
}

.top-line {
    background-color: #fecc00;
    height: 6px;
    z-index: 10;
    position: relative;
}


.transbox {
    position: absolute;
    height: 400px;
    padding-top: 60px;
    width: 215px;
    padding-right: 20px;
    padding-left: 15px;
    background-color: white;
    color: black;
    font-size: 13px;
    opacity: 0.78;
    z-index: 2;
}

.transbox-head {
    font-weight: bold;
}

.transbox-text {
}



/* ---------------------------------------- Bottom ---------------------------------------- */
.bottom-shadow {
    position: relative;
    height: 0px;
}

.bottom-shadow img {
    position: absolute;
    top: -10px;
    z-index: 10;
}

.indicators-well {
    direction: ltr;
    float: left;
}

.indicators-well div {
    display: inline-block;
    line-height: 16px;
    height: 16px;
    width: 8px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 4px;
    background-color: #58585a;
    color: white;
    font-size: 11px;
    cursor: pointer;
}

.indicators-well div.active {
    background-color: #fecc00;
    color: #58585a;
}

