@CHARSET "ISO-8859-1";

/* ---------------------------------------- General Layout ---------------------------------------- */
body {
    height: 100%;
    font-family: Arial;
    font-size: 13px;
    margin: 0px;
}


.container {
    margin-right: auto;
    margin-left: auto;
    width: 992px;
}

.row {
}

.row:after {
  clear: both;
  display: block;
  content: "";
}

.span {
    float: right;
}


.hidden {
    display: none;
}


/* ---------------------------------------- Header ---------------------------------------- */

.head {
    margin-top: 8px;
}

.head-inner {
    height: 92px;

    background-image: url('head-bg.png');
    background-repeat: repeat-x;
}

.logo {
    margin-top: 6px;
}

.top-menu {
    font-size: 17px;
    color: #6d6e71;
    margin-top: 40px;
}

.top-menu-item, .top-menu-separator {
    float: right;
}

.top-menu-item {
    padding-left: 40px;
    padding-right: 40px;
}

.top-menu-item-selected {
    color: black;
}

.top-menu-item-text {
    height: 35px;
}

.top-menu-separator {
    width: 1px;
    height: 20px;
    background: #c0c0c0;
}

.top-menu-marker {
    width: 13px;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------------------------------- Home Page ---------------------------------------- */
.bgimg-outer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.bgimg-inner {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
}

.bgimg-current {
    z-index: -10;
}

.bgimg-next {
    z-index: -5;
	display: none;
}

.bgimg-img1 {
    background-image: url('home-bg1.jpg');
}
.bgimg-img2 {
    background-image: url('home-bg2.jpg');
}
.bgimg-img3 {
    background-image: url('home-bg3.jpg');
}
.bgimg-img4 {
    background-image: url('home-bg4.jpg');
}



/* ---------------------------------------- A Pane ---------------------------------------- */

.a-pane {
    width: 200px;
    margin-right: 60px;
    font-size: 15px;
}

