@CHARSET "ISO-8859-1";

/* ---------------------------------------- General Layout ---------------------------------------- */
body {
    height: 100%;
    font-family: Arial,sans-serif;
    color: #6d6e71;
    font-size: 13px;
    margin: 0;
}


.container {
    margin-right: auto;
    margin-left: auto;
    width: 1024px;
}

.row {
}

.row:before
.row:after {
  clear: both;
  display: block;
  content: "";
}


.span {
    float: right;
}


.hidden {
    display: none;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: inherit;
}


/* ---------------------------------------- Header ---------------------------------------- */

.head {
    margin-top: 8px;
    position: fixed;
    width: 1024px;
    top: 0;
    opacity: 1;
}

.head-inner {
    height: 92px;
    width: 100%;
    background-image: url('head-bg.png');
    background-repeat: repeat-x;
    padding-top: 6px;
    padding-right: 48px;
}

.logo {
    border-style: none;
}

.top-menu {
    font-size: 17px;
    margin-top: 34px;
    position: absolute;
    width: 854px;
    right: 172px;
}

.top-menu-item, .top-menu-separator {
    float: right;
    cursor: pointer;
}

.top-menu-item:hover {
    color: red;
}

.top-menu-item {
    padding-left: 40px;
    padding-right: 40px;
}

.top-menu-item-selected {
    color: black;
    font-weight: bold;
}

.top-menu-item-selected:hover {
    color: black;
}

.top-menu-item-text {
    height: 35px;
}

.top-menu-separator {
    width: 1px;
    height: 20px;
    background: #c0c0c0;
}

.top-menu-marker {
    width: 13px;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------------------------------- Home Page ---------------------------------------- */
.bgimg-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.bgimg-inner {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.bgimg-current {
    z-index: -10;
}

.bgimg-next {
    z-index: -5;
	display: none;
}

.bgimg-img1 {
    background-image: url('home-bg1.jpg');
}
.bgimg-img2 {
    background-image: url('home-bg2.jpg');
}
.bgimg-img3 {
    background-image: url('home-bg3.jpg');
}
.bgimg-img4 {
    background-image: url('home-bg4.jpg');
}

.bgimg-img5 {
    background-image: url('home-bg5.jpg');
}



/* ---------------------------------------- A Pane ---------------------------------------- */

.body {
    padding-top: 150px;
}

.a-pane {
    width: 200px;
    margin-right: 60px;
    font-size: 15px;
}

.nav-menu-item {
    line-height: 28px;
    cursor: pointer;
}

.nav-menu-item-selected {
    font-weight: bold;
    color: black;
}

.nav-menu-item:hover {
    color: red;
}


/* ---------------------------------------- Content Pane ---------------------------------------- */

.content {
    width: 744px;
}

.cat-img-well {
    width: 180px;
    height: 124px;
    float: right;
    margin-left: 6px;
    margin-bottom: 6px;
}

.cat-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-width: 0;
}



/* ---------------------------------------- Contact Pane ---------------------------------------- */

.contact-content {
    width: 744px;
    margin-right: 180px;
}

.contact-ul {
    list-style-type: none;
    position: absolute;
}

.contact-ul li {
    min-height: 1px;
}

.contact-icon {
    width: 55px;
    height: 32px;
    background-image: url('contact-icons.png');
}

.contact-icon-0 {
    background-position: 0 0;
}

.contact-icon-1 {
    background-position: 0 -30px;
}

.contact-icon-2 {
    background-position: 0 -60px;
}

.contact-icon-3 {
    background-position: 0 -90px;
}


.contact-cat {
    color: black;
    width: 60px;
}

.contact-datum {
}

.contact-icon,
.contact-cat,
.contact-datum {
    display: inline-block;
    line-height: 32px;
}


/* ---------------------------------------- About Page ---------------------------------------- */
.about-well {
    width: 968px;
    background-color: #f2f2f2;
    margin-right: 60px;
    height: 514px;
}

.about-text-well {
    padding-right: 30px;
    padding-top: 20px;
    width: 548px;
}

.about-img-well {

}