@CHARSET "ISO-8859-1";

/* ---------------------------------------- General Layout ---------------------------------------- */
body {
    font-family: Arial;
    font-size: 13px;
}


.container {
    margin-right: auto;
    margin-left: auto;
    width: 1150px;
}

.row {
}

.row:after {
  clear: both;
  display: block;
  content: "";
}

.span {
    float: right;
}

.home-bg {
    background-image: url('home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------------------------------------- Header ---------------------------------------- */

.head {
}

.head-inner {
    height: 92px;
    background-image: url('head-bg.png');
    background-repeat: repeat-x;
}

.logo {
}

.top-menu {
    font-size: 17px;
    color: #6d6e71;
    margin-top: 40px;
    width: 978px;
}

.top-menu-item, .top-menu-separator {
    float: right;
}

.top-menu-item {
    padding-left: 40px;
    padding-right: 40px;
}

.top-menu-item-selected {
    color: black;
}

.top-menu-item-text {
    height: 35px;
}

.top-menu-separator {
    width: 1px;
    height: 20px;
    background: #c0c0c0;
}

.top-menu-marker {
    width: 13px;
    margin-left: auto;
    margin-right: auto;
}