{% extends 'base.html' %}

{% block pre_container %}
{% endblock %}

{% block body %}
<div class="body row">
  <div class="about-well">
    <div class="row">
      <div class="about-text-well span">
        <p>
        פינצי רוה לונדון אדריכלים הינו משרד פעיל משנת 1975 (במתכונתו הקודמת: פינצי רוה
      אדריכלים ומתכנני ערים) בכל תחומי התכנון ברחבי הארץ. אל השותפות הארוכה של האדריכלים
      יהושע פינצי ושמואל רוה הצטרפה האדריכלית מיכל לונדון.
        </p>
        <p>
        במהלך השנים צבר המשרד נסיון רב בכל תחומי התכנון האדריכלי של עבודות רבות בהיקף
      גדול ומגוון הכולל תכנון פרויקטי הייטק ומשרדים, מבני מגורים לסוגיהם, מבני ציבור
      לסוגיהם, מבני חינוך, מבנים מסחריים, תיירות ומלונאות, תעשייה, מרכזי ספורט
      וכו'. הטיפול בפרויקטים למגורים כולל התחדשות עירונית, תמ"א 38, בנייה רוויה
      ומגדלי מגורים. ליווי הפרויקטים מול יזמים ורשויות משלבי הבינוי הראשוניים ועד
      לתכנון מפורט וביצוע.
        </p>
        <p>
        למשרד ניסיון רב מוכח מול רשויות התכנון המקומיות והמחוזיות ושיתוף פעולה בכל
      המחוזות הכולל תכניות בניין ערים, תכנון עירוני ותוכניות מתאר.
        </p>
      </div>

      <div class="about-img-well span">
        <img src="/static/about.jpg">
      </div>
    </div>
    <img src="/static/bottom-frame.png">
</div>

{% endblock %}
