{% extends 'base.html' %}

{% block content_area %}
        <div style="position: relative">
          <div class="span3 transbox">
            <div id="transbox-title" class="transbox-head">
                {{ trans_head }}
            </div>
            <p id="transbox-description" class="transbox-text">
              {{ trans_text }}
            </p>
          </div>
          <div id="kar-well">
            <img src="/img/frl/ashdar/Buidings-032_LowRes" />
          </div>
        </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
      $('ul.nav li a').click(function onPorj(e) {
        $('ul.nav li a').parent().removeClass('active');
        $(this).parent().addClass('active');
      });

      $( function() {
    	$('#transbox-title').html(prj.title);
        $('#transbox-description').html(prj.description);    	  
      })      
    </script>
{% endblock %}
