<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8" />
  <title>{{ firm.name }}</title>
  <link href="/static/a2.css" rel="stylesheet" media="screen" />
  <link href="/static/c2.css" rel="stylesheet" media="screen" />

</head>


<body dir="rtl">
  <div class="container">

    <div class="row">

      <!-- navigation pane -->
      <div class="aside">

        <div class="accordion">
          <ul class="nav nav-list">
            {% for top_item in ctx_menu['items'] %}
            <li class="nav-hdr-img">
              <img src="/static/nav-hdr.png" /></li>
            <li class="nav-hdr accordion-toggle dropdown-toggle" data-toggle="collapse" data-target="#topitem{{ loop.index }}">
              {{ top_item.title }}
            </li>
            <li>
              <ul id="topitem{{ loop.index }}" class="nav nav-list sub-nav collapse {% if loop.first %}in{% endif %}">
                {% for item in top_item['items'] %}
                  <li {% if item.active %}class="active"{% endif %}><a href="#">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>

        <div class="main-menu-well">
          <div class="main-menu-item"><a href="#">עלינו</a></div>
          <div class="main-menu-item"><a href="#">פרויקטים</a></div>
          <div class="main-menu-item"><a href="#">פרסומים</a></div>
          <div class="main-menu-item"><a href="#">צור קשר</a></div>
          <div class="main-menu-item lang-link"><a href="#">English</a></div>
        </div>
      </div>

      <!-- content pane -->
      <div class="bside">
        <div class="logo-well">
          <img src="/static/logo.png" />
        </div>
        <div class="top-line"></div>

        {% block content_area %}
        <div style="position: relative">
          <div class="span3 transbox">
            <div id="transbox-title" class="transbox-head"></div>
            <p id="transbox-description" class="transbox-text"></p>
          </div>
          <div id="kar-well"></div>
        </div>
        {% endblock %}

      </div>
    </div>

    <div class="bottom-shadow">
      <img id="bottom-frame" src="/static/bottom-frame.png" />
    </div>
    <div id="indicators" class="indicators-well">
    </div>
  </div>


  <div class="code">
    <script type="text/javascript" src="/libs/jquery/jquery-1.10.0.js"></script>
    <script type="text/javascript" src="/libs/bootstrap-2.3.2-rtl/js/bootstrap.js"></script>

    {% block data %}
    <script type="text/javascript">
      var projects = {{ prjs }};
    </script>
    {% endblock %}

    <script type="text/javascript">
      $('ul.nav li a').click(function onPorj(e) {
        $('ul.nav li a').parent().removeClass('active');
        $(this).parent().addClass('active');
        prj = projects[$('.aside .sub-nav a').index(e.currentTarget)];
        build_carousel(prj);
      });

      function build_carousel(prj) {
        $('.carousel').carousel('pause');

        // prepare the carousel well
        var innerHTML = '<div id="karusela" class="carousel slide"><div class="carousel-inner">';
        for (var i = 0; i < prj.images.length; ++i) {
          innerHTML += '<div class="item"><img src="/img/{{ firmid }}/' + prj.id + '/' + prj.images[i].short_name + '"/></div>';
        }
        
        innerHTML += '</div>';
        innerHTML += '</div>';
        $('#kar-well').html(innerHTML);

        // prepare the indicators well
        innerHTML = '';
        for (var i = 0; i < prj.images.length; ++i) {
          innerHTML += '<div data-to="' + i.toString() + '"><span>' + (i + 1).toString() + '</a></div>';
        }
        $('#indicators').html(innerHTML);

        $('#karusela .item:first').addClass('active');
        $('#indicators div:first').addClass('active');
        $('#transbox-title').html(prj.title);
        $('#transbox-description').html(prj.description);

        $('#indicators div').click(function (q) {
          q.preventDefault();
          clicked = $(this).data('to');
          $('#karusela').carousel(clicked);
        });

        $('#karusela').carousel({ interval: 7000 });

        $('.carousel').on('slide', function onSlide(evt) {
          $('#indicators div').removeClass('active');
        });

        $('.carousel').on('slid', function onSlid(evt) {
          var $k = $(evt.currentTarget);
          var $active = $k.find('.active');
          var $items = $active.parent().children();
          var index = $items.index($active);

          var $indicators = $('#indicators div');
          var ind_index = index;
          $($indicators[ind_index]).addClass('active');
        });

      }

      $(function () {
        prj = projects[0];
        build_carousel(prj);
      });

  </script>
  </div>
</body>
</html>