<!DOCTYPE html>
<html lang="he">

<head>
  <meta charset="utf-8" />
  <title>{{ firm.name }}</title>
  <link href="/static/arch.css" rel="stylesheet" media="screen" />
  <link href="/static/c2.css" rel="stylesheet" media="screen" />
</head>

<body dir="rtl">

  {% block pre_container  %}
  {% endblock %}

  <div class="container">
    <div class="head{% if head_hidden %} hidden{% endif %}">
      <div class="row head-inner">
        <a href="/{{ firmid }}/{{ lang }}/home">
          <img class="span logo" src="/static/logo.png">
        </a>
        <div class="span top-menu">
          {% for item in top_level_menu_items %}
            {% if curr_menu_item != item[0] %}
              <div class="top-menu-item"><a href="{{ item[0] }}"><div class="top-menu-item-text">{{ item[1] }}</div></a></div>
            {% else %}
              <div class="top-menu-item top-menu-item-selected">
                <div class="top-menu-item-text">{{ item[1] }}</div>
                <div class="top-menu-marker"><img src="/static/top-menu-marker.png" /></div>
              </div>
            {% endif %}
            {% if not loop.last %}<div class="top-menu-separator"></div>{% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% block body %}
    {% endblock %}
  </div>

  <div class="code">
    <script type="text/javascript" src="/libs/jquery/jquery-1.10.0.js"></script>
    <script type="text/javascript" src="/libs/bootstrap-2.3.2/js/bootstrap.js"></script>
    {% block data %}
    {% endblock %}
    {% block logic %}
    {% endblock %}
  </div>

</body>
</html>


