{% extends 'base.html' %}

{% block pre_container %}
{% endblock %}

{% block body %}
    <div class="body row">
      <div class="contact-content span">
          <ul class="contact-ul">
              <li>
                  <span class="contact-icon contact-icon-0"></span>
                  <span class="contact-cat">כתובת:</span>
                  <span class="contact-datum">רחוב צבי 12 רמת גן 52504</span>
              </li>
              <li>
                  <span class="contact-icon contact-icon-1"></span>
                  <span class="contact-cat">טלפון:</span>
                  <span class="contact-datum">03-7522171</span>
              </li>
              <li>
                  <span class="contact-icon contact-icon-2"></span>
                  <span class="contact-cat">פקס:</span>
                  <span class="contact-datum">03-7517862</span>
              </li>
              <li>
                  <span class="contact-icon contact-icon-3"></span>
                  <span class="contact-cat">דוא"ל:</span>
                  <span class="contact-datum"><a href="mailto:office@frl-arch.co.il">office@frl-arch.co.il</a></span>
              </li>
          </ul>
      </div>
    </div>
{% endblock %}

{% block data %}
{% endblock %}

{% block logic %}
    <script type="text/javascript">
    </script>
{% endblock %}
