{% extends 'base.html' %}

{% block pre_container %}
{% endblock %}

{% block body %}
    <div class="body row">
      <div class="a-pane span">
      </div>

      <div class="content span">
        <div class="plural-well">
        </div>
        <div class="single-well">
          <div class="title-line">
              <span class="single-title"></span>
          </div>
          <div class="single-img">
            <div class="transbox">
              <div class="transbox-item"><span class="transbox-name">כתובת: </span><span class="transbox-value" id="address"></span></div>
              <div class="transbox-item"><span class="transbox-name">שימושים: </span><span class="transbox-value" id="classification"></span></div>
              <div class="transbox-item"><span class="transbox-name">שטח מגרש: </span><span class="transbox-value" id="plot_area"></span></div>
              <div class="transbox-item"><span class="transbox-name">שטח בנוי: </span><span class="transbox-value" id="built_area"></span></div>
              <div class="transbox-item"><span class="transbox-name">יחידות: </span><span class="transbox-value" id="units"></span></div>
              <div class="transbox-item"><span class="transbox-name">שנה: </span><span class="transbox-value" id="year"></span></div>
              <div class="transbox-item"><span class="transbox-name">סטטוס: </span><span class="transbox-value" id="status"></span></div>
              <div class="transbox-item"><span class="transbox-name">לקוח: </span><span class="transbox-value" id="client"></span></div>
              <div class="transbox-item"><span class="transbox-name">תאור: </span><span class="transbox-value" id="description"></span></div>
            </div>

          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block data %}
    <script type="text/javascript">
        var classifications = { {% for cls in classifications %}
          {{ cls }}: { en: '{{ classifications[cls][0] }}', he: '{{ classifications[cls][1] }}', p: [] },
        {% endfor %} };
        var classifications_order = [ {% for cls in classifications_order %}'{{ cls }}', {% endfor %} ];
    </script>
{% endblock %}

{% block logic %}

    <script type="text/javascript">

    $( function() {
        var page = new page_projects();
        page.main();
    })

    </script>
{% endblock %}
