{% extends 'base.html' %}

{% block pre_container %}

    <div class="body row">
      <div class="a-pane span">
        <div class="nav-menu-item">כל הפרוייקטים</div>
        <div class="nav-menu-item">מגורים</div>
        <div class="nav-menu-item">בינוי ערים</div>
      </div>

      <div class="content span">
      </div>

    </div>
{% endblock %}


{% block logic %}
    <script type="text/javascript">

      $(function(){
        $.getJSON( '/api/project/{{ firmid }}/',
            function onProjectsJson(projects) {
              for (var index in projects ) {
                var proj = projects[index];
                var $projElem = $(
                    '<div class="cat-img-well"><a href="' + proj.id + '">' +
                      '<img class="cat-img" src="' + proj.front_picture_url + '">' +
                    '</a></div>\n');
                $('.content').append($projElem);
              }
            }
        )
      });

    </script>
{% endblock %}


