{% extends 'base.html' %}

{% block pre_container %}
{% endblock %}

{% block body %}
    <div class="body row">
      <div class="a-pane span">
      </div>

      <div class="span">

        <!-- Multiple projects view -->
        <div class="plural-well">
        </div>

        <!-- Single projects view -->
        <div class="single-well">
          <div class="title-line row">
              <div class="single-title span"></div>
              <div class="arrow-left ospan" data-direction="1"></div>
              <div class="arrow-right ospan" data-direction="-1"></div>
              <div class="arrow-up ospan"></div>
          </div>

          <div class="single-img">
            <div class="transbox">
              <div class="transbox-item"><span class="transbox-name">כתובת: </span><span class="transbox-value" id="address"></span></div>
              <div class="transbox-item"><span class="transbox-name">שימושים: </span><span class="transbox-value" id="classification"></span></div>
              <div class="transbox-item"><span class="transbox-name">שטח מגרש: </span><span class="transbox-value" id="plot_area"></span></div>
              <div class="transbox-item"><span class="transbox-name">שטח בנוי: </span><span class="transbox-value" id="built_area"></span></div>
              <div class="transbox-item"><span class="transbox-name">יחידות: </span><span class="transbox-value" id="units"></span></div>
              <div class="transbox-item"><span class="transbox-name">שנה: </span><span class="transbox-value" id="year"></span></div>
              <div class="transbox-item"><span class="transbox-name">סטטוס: </span><span class="transbox-value" id="status"></span></div>
              <div class="transbox-item"><span class="transbox-name">לקוח: </span><span class="transbox-value" id="client"></span></div>
              <div class="transbox-item"><span class="transbox-name">תאור: </span><span class="transbox-value" id="description"></span></div>
            </div>
            <div id="kar-well"></div>
          </div>
          <div class="single-bottom-frame-well">
            <img src="/static/shadow-short.png" class="single-bottom-frame-img">
          </div>
          <div id="indicators" class="indicators-well">
        </div>


      </div>
    </div>
{% endblock %}

{% block data %}
    <!--
    <script type="text/javascript" src="/api/process/{{ firmid }}/get_hier"></script>
    -->
    <script type="text/javascript">
        var classifications = {{ classifications }};
        var classifications_order = {{ classifications_order }};
    </script>
{% endblock %}

{% block logic %}
    <script type="text/javascript" src="/libs/bootstrap-2.3.2-rtl/js/bootstrap.js"></script>
    <script type="text/javascript">

    $( function() {
        var page = new page_projects();
        page.main();
    })

    </script>
{% endblock %}
